h2 {
    color: 	#CCCC00;  
    font-family: Gill Sans, serif;
    font-style: bold;
    text-align: left;
}
h3 {
    color: #d3d3d3; 
    font-family: arial;
    
}
.col-md-6 {
    margin-left: 100px;
     
    margin-left: 300px;
    border-style: double;
    border-color:indianred;
    margin-top: 40px;
    
}
.sugb {
    text-align: center;
    color: #DC3D24;
}


p {
    color: bisque;
}



